  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .navbar {
    width: 100%;
    background: linear-gradient(60deg,#5424a1,#583570,#7a0048, #c73535);
  }

  .navbar a {
    text-decoration: none;
    color: inherit;
  }

.navbar-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .logo {
    margin-right: 30px;
  }
  
  .title {
    font-size: 40px;
    margin: 0;
    font-family: 'Tungsten';
    font-weight: 900;
    font-style: normal;
    background: linear-gradient(90deg, #5D26C1, #a17fe0, #59C173);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 8s ease infinite;
}

@keyframes hover-gradient {
  0% {
    background: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: #ff5050;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(3px);
  }
}

.title:hover {
  position: relative;
  background: #000000;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hover-gradient 0.6s ease-out forwards;
}
  

.options{
    margin-right: 30px;
}
.options h2{
  font-family: 'Tungsten';
    font-weight: 700;
    font-style: normal;
}

.options h2:hover {
  position: relative;
  background: #000000;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hover-gradient 0.2s ease-out forwards;
}

@media (max-width: 1024px){
    .navbar-container{
        width: 100%;
    }
    .navbar{
        height: 70%;
    }
    .options{
        font-size: 11px;
        font-weight: 400;
        margin-right: 30px;
    }
    .logo{
        margin-right: 30px;
    }
}

@media (max-width: 767px){
    .navbar-container{
        width: 100%;
    }
    .navbar{
        height: 70%;
    }
    .options{
        font-size: 11px;
        font-weight: 400;
        margin-right: 15px;
    }
    .logo{
      margin-right: 15px;
    }
}

@media (max-width: 425px) {
    .navbar-container{
        width: 98%;
        position: relative;
        left: 2%;
    }
    .navbar{
      width: 100%;
        height: 70%;
    }
    .options{
        font-size: 11px;
        font-weight: 400;
        margin-right: 5%;
    }
    .logo{
        margin-right: 5%;
    }
    
}
